@import './reset.css';

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../shared/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../shared/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../shared/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../../shared/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../shared/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-dark: #0a1f38;
  --color-dark-middle: #1b2f46;
  --color-dark-light: #2f4056;
  --color-gray: #9da5af;
  --color-green-dark: #819400;
  --color-green-middle: #97ab0d;
  --color-green: #a5bb0c;
  --color-green-light: #b1c909;
  --color-white: #ffffff;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
}
#app {
  width: 100%;
  height: 100%;
  overflow: auto;
}
h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 104px;
  line-height: 100%;
}
h2 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
}
h3 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}
h4 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}
a {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--color-green-light);
  cursor: pointer;
}
a:hover {
  color: var(--color-white);
}
.text_normal {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}
.text_small {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}
.text_smal_bold {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
}
@media (max-width: 680px) {
  h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 107%;
  }
  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 112%;
  }
  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }
  a {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
  }
  .text_small {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
  }
}
